body { font-size: 20px; background: white;
       font-family: Courier, Consolas, 'Courier New';
       /* src: url(./unifont.ttf) format("truetype"); */
     }

#term { font-family: Courier, Consolas, 'Courier New';
        /* src: url(./unifont.ttf); */
}

